
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Spaces - My Account</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="title" content="Spaces - My Account">
    <meta name="author" content="Themesberg">
    <meta name="description"
        content="Premium Directory Listing Bootstrap 4 Template featuring 37 hand-crafted pages, a dashboard an Mapbox integration. Spaces also comes with a complete UI Kit featuring over 700 components by Themesberg.">
    <meta name="keywords"
        content="bootstrap, bootstrap 4 template, directory listing bootstrap, bootstrap 4 listing, bootstrap listing, bootstrap 4 directory listing template, vector map, leaflet js template, mapbox theme, mapbox template, dashboard, themesberg, user dashboard bootstrap, dashboard bootstrap, ui kit, bootstrap ui kit, premium bootstrap theme">
    <link rel="canonical" href="https://themesberg.com/product/bootstrap/spaces-bootstrap-directory-listing-template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/pixel-pro">
    <meta property="og:title" content="Spaces - My Account">
    <meta property="og:description"
        content="Premium Directory Listing Bootstrap 4 Template featuring 37 hand-crafted pages, a dashboard an Mapbox integration. Spaces also comes with a complete UI Kit featuring over 700 components by Themesberg.">
    <meta property="og:image"
        content="../../../../../themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/thumbnail.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/pixel-pro">
    <meta property="twitter:title" content="Spaces - My Account">
    <meta property="twitter:description"
        content="Premium Directory Listing Bootstrap 4 Template featuring 37 hand-crafted pages, a dashboard an Mapbox integration. Spaces also comes with a complete UI Kit featuring over 700 components by Themesberg.">
    <meta property="twitter:image"
        content="../../../../../themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/thumbnail.jpg">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://demo.themesberg.com/bootstrap/spaces/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://demo.themesberg.com/bootstrap/spaces/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://demo.themesberg.com/bootstrap/spaces/assets/img/favicon/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%- include('style'); %>

</head>

<body>
    
    <%- include('component/header', {classNav : "navbar-light navbar-theme-primary"}); %>
    <main>
        
        <div class="section section-lg bg-soft">
            <div class="container">
                <div class="row pt-5 pt-md-0">

                    <%- include('component/profile-left', { dashboard:"", settings:"", items:"",product:'active', security:"", belling :"", message:""}); %>

                    <div class="col-12 col-lg-8">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-10 col-md-6 col-lg-12">
                                <a href="#" data-toggle="modal" data-target="#newProduct"
                                    class="btn btn-outline-secondary btn-block mb-3 py-3"><span class="mr-2"><span
                                            class="fas fa-plus"></span></span>Ajouter nouveau produit
                                </a>
                                <div class="card border-light mb-4">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-12 col-lg-6 col-xl-4"><a href="../single-space.html"><img
                                                    src="../../assets/img/meeting-office.jpg" alt="private office"
                                                    class="card-img p-2 rounded-xl"></a></div>
                                        <div class="col-12 col-lg-6 col-xl-8">
                                            <div class="card-body py-lg-0">
                                                <div class="d-flex no-gutters align-items-center mb-3">
                                                    <div class="col text-left">
                                                        <ul class="list-group mb-0">
                                                            <li class="list-group-item small p-0"><span
                                                                    class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June
                                                            </li>
                                                        </ul>
                                                        <div class="modal fade bd-example-modal-lg" id="modal-notification" tabindex="-1"
                                                            role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content bg-white px-0">
                                                                    <div class="modal-header">
                                                                        <h2 class="h5 mb-3">Collaborative Workspace</h2><button
                                                                            type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="col">
                                                                                <h2 class="h4">Views</h2>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group"><select class="custom-select"
                                                                                        id="exampleFormControlSelect2">
                                                                                        <option>15 days</option>
                                                                                        <option>30 days</option>
                                                                                        <option>60 days</option>
                                                                                        <option>90 days</option>
                                                                                    </select></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ct-chart-statistics ct-golden-section ct-series-a">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer"><button type="button"
                                                                            class="btn btn-sm btn-secondary">Go to Dashboard</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col text-right">
                                                        <div class="btn-group"><button
                                                                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                                    class="icon icon-sm"><span
                                                                        class="fas fa-ellipsis-h icon-secondary"></span> </span><span
                                                                    class="sr-only">Toggle Dropdown</span></button>
                                                            <div class="dropdown-menu"><a class="dropdown-item"
                                                                    href="./edit-item.html"><span class="fas fa-edit mr-2"></span> Edit
                                                                    Item</a> <a class="dropdown-item text-danger" href="#"><span
                                                                        class="fa fa-trash mr-2" aria-hidden="true"></span> Disable</a> <a
                                                                    class="dropdown-item" data-toggle="modal"
                                                                    data-target="#modal-notification"><span
                                                                        class="fas fa-chart-line mr-2"></span>Statistics</a></div>
                                                        </div>
                                                    </div>
                                                </div><a href="../single-space.html">
                                                    <h2 class="h5">Collaborative Workspace</h2>
                                                </a>
                                                <div class="col d-flex pl-0"><span class="text-success font-small mr-3"><span
                                                            class="fas fa-check-circle mr-2"></span>Active</span> <span
                                                        class="text-muted font-small mr-3"><span class="fas fa-eye mr-2"></span>680</span>
                                                    <span class="text-muted font-small mr-3"><span
                                                            class="far fa-heart mr-2"></span>10</span> <a class="font-small text-dark"
                                                        href="./messages.html"><span class="fas fa-envelope mr-2"></span>8</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-10 col-md-6 col-lg-12">
                                <div class="card border-light mb-4">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-12 col-lg-6 col-xl-4"><a href="../single-space.html"><img
                                                    src="../../assets/img/spaces/meeting.jpg" alt="private office"
                                                    class="card-img p-2 rounded-xl"></a></div>
                                        <div class="col-12 col-lg-6 col-xl-8">
                                            <div class="card-body py-lg-0">
                                                <div class="d-flex no-gutters align-items-center mb-3">
                                                    <div class="col text-left">
                                                        <ul class="list-group mb-0">
                                                            <li class="list-group-item small p-0"><span
                                                                    class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June
                                                            </li>
                                                        </ul>
                                                        <div class="modal fade bd-example-modal-lg" id="modal-notification-2" tabindex="-1"
                                                            role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content bg-white px-0">
                                                                    <div class="modal-header">
                                                                        <h2 class="h5 mb-3">Meeting Workspace</h2><button type="button"
                                                                            class="close" data-dismiss="modal" aria-label="Close"><span
                                                                                aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="col">
                                                                                <h2 class="h4">Views</h2>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group"><select class="custom-select"
                                                                                        id="exampleFormControlSelect3">
                                                                                        <option>15 days</option>
                                                                                        <option>30 days</option>
                                                                                        <option>60 days</option>
                                                                                        <option>90 days</option>
                                                                                    </select></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ct-chart-statistics-2 ct-golden-section ct-series-b">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer"><button type="button"
                                                                            class="btn btn-sm btn-secondary">Go to Dashboard</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col text-right">
                                                        <div class="btn-group"><button
                                                                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                                    class="icon icon-sm"><span
                                                                        class="fas fa-ellipsis-h icon-secondary"></span> </span><span
                                                                    class="sr-only">Toggle Dropdown</span></button>
                                                            <div class="dropdown-menu"><a class="dropdown-item"
                                                                    href="./edit-item.html"><span class="fas fa-edit mr-2"></span> Edit
                                                                    Item</a> <a class="dropdown-item text-success" href="#"><span
                                                                        class="fas fa-plus mr-2" aria-hidden="true"></span> Publish</a> <a
                                                                    class="dropdown-item" data-toggle="modal"
                                                                    data-target="#modal-notification-2"><span
                                                                        class="fas fa-chart-line mr-2"></span>Statistics</a></div>
                                                        </div>
                                                    </div>
                                                </div><a href="../single-space.html">
                                                    <h2 class="h5">Meeting Workspace</h2>
                                                </a>
                                                <div class="col d-flex pl-0"><span class="text-danger font-small mr-3"><span
                                                            class="fas fa-times-circle mr-2"></span>Disabled</span> <span
                                                        class="text-muted font-small mr-3"><span class="fas fa-eye mr-2"></span>3880</span>
                                                    <span class="text-muted font-small mr-3"><span
                                                            class="far fa-heart mr-2"></span>30</span> <a class="font-small text-dark"
                                                        href="./messages.html"><span class="fas fa-envelope mr-2"></span>80</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-10 col-md-6 col-lg-12">
                                <div class="card border-light mb-4">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-12 col-lg-6 col-xl-4"><a href="../single-space.html"><img
                                                    src="../../assets/img/private-office.jpg" alt="private office"
                                                    class="card-img p-2 rounded-xl"></a></div>
                                        <div class="col-12 col-lg-6 col-xl-8">
                                            <div class="card-body py-lg-0">
                                                <div class="d-flex no-gutters align-items-center mb-3">
                                                    <div class="col text-left">
                                                        <ul class="list-group mb-0">
                                                            <li class="list-group-item small p-0"><span
                                                                    class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June
                                                            </li>
                                                        </ul>
                                                        <div class="modal fade bd-example-modal-lg" id="modal-notification-3" tabindex="-1"
                                                            role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content bg-white px-0">
                                                                    <div class="modal-header">
                                                                        <h2 class="h5 mb-3">Private Office</h2><button type="button"
                                                                            class="close" data-dismiss="modal" aria-label="Close"><span
                                                                                aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="col">
                                                                                <h2 class="h4">Views</h2>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group"><select class="custom-select"
                                                                                        id="exampleFormControlSelect4">
                                                                                        <option>15 days</option>
                                                                                        <option>30 days</option>
                                                                                        <option>60 days</option>
                                                                                        <option>90 days</option>
                                                                                    </select></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ct-chart-statistics-3 ct-golden-section ct-series-c">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer"><button type="button"
                                                                            class="btn btn-sm btn-secondary">Go to Dashboard</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col text-right">
                                                        <div class="btn-group"><button
                                                                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                                    class="icon icon-sm"><span
                                                                        class="fas fa-ellipsis-h icon-secondary"></span> </span><span
                                                                    class="sr-only">Toggle Dropdown</span></button>
                                                            <div class="dropdown-menu"><a class="dropdown-item"
                                                                    href="./edit-item.html"><span class="fas fa-edit mr-2"></span> Edit
                                                                    Item</a> <a class="dropdown-item text-danger" href="#"><span
                                                                        class="fa fa-trash mr-2" aria-hidden="true"></span> Disable</a> <a
                                                                    class="dropdown-item" data-toggle="modal"
                                                                    data-target="#modal-notification-3"><span
                                                                        class="fas fa-chart-line mr-2"></span>Statistics</a></div>
                                                        </div>
                                                    </div>
                                                </div><a href="../single-space.html">
                                                    <h2 class="h5">Pivate Workspace</h2>
                                                </a>
                                                <ul class="list-group mb-3">
                                                    <li class="list-group-item small p-0"><span
                                                            class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June</li>
                                                </ul>
                                                <div class="col d-flex pl-0"><span class="text-success font-small mr-3"><span
                                                            class="fas fa-check-circle mr-2"></span>Active</span> <span
                                                        class="text-muted font-small mr-3"><span class="fas fa-eye mr-2"></span>680</span>
                                                    <span class="text-muted font-small mr-3"><span
                                                            class="far fa-heart mr-2"></span>10</span> <a class="font-small text-dark"
                                                        href="./messages.html"><span class="fas fa-envelope mr-2"></span>8</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-10 col-md-6 col-lg-12">
                                <div class="card border-light mb-4">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-12 col-lg-6 col-xl-4"><a href="../single-space.html"><img
                                                    src="../../assets/img/meeting-office.jpg" alt="private office"
                                                    class="card-img p-2 rounded-xl"></a></div>
                                        <div class="col-12 col-lg-6 col-xl-8">
                                            <div class="card-body py-lg-0">
                                                <div class="d-flex no-gutters align-items-center mb-3">
                                                    <div class="col text-left">
                                                        <ul class="list-group mb-0">
                                                            <li class="list-group-item small p-0"><span
                                                                    class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June
                                                            </li>
                                                        </ul>
                                                        <div class="modal fade bd-example-modal-lg" id="modal-notification-4" tabindex="-1"
                                                            role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content bg-white px-0">
                                                                    <div class="modal-header">
                                                                        <h2 class="h5 mb-3">Collaborative Workspace</h2><button
                                                                            type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="col">
                                                                                <h2 class="h4">Views</h2>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="form-group"><select class="custom-select"
                                                                                        id="exampleFormControlSelect1">
                                                                                        <option>15 days</option>
                                                                                        <option>30 days</option>
                                                                                        <option>60 days</option>
                                                                                        <option>90 days</option>
                                                                                    </select></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ct-chart-statistics-4 ct-golden-section ct-series-d">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer"><button type="button"
                                                                            class="btn btn-sm btn-secondary">Go to Dashboard</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col text-right">
                                                        <div class="btn-group"><button
                                                                class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                                    class="icon icon-sm"><span
                                                                        class="fas fa-ellipsis-h icon-secondary"></span> </span><span
                                                                    class="sr-only">Toggle Dropdown</span></button>
                                                            <div class="dropdown-menu"><a class="dropdown-item"
                                                                    href="./edit-item.html"><span class="fas fa-edit mr-2"></span> Edit
                                                                    Item</a> <a class="dropdown-item text-danger" href="#"><span
                                                                        class="fa fa-trash mr-2" aria-hidden="true"></span> Disable</a> <a
                                                                    class="dropdown-item" data-toggle="modal"
                                                                    data-target="#modal-notification-4"><span
                                                                        class="fas fa-chart-line mr-2"></span>Statistics</a></div>
                                                        </div>
                                                    </div>
                                                </div><a href="../single-space.html">
                                                    <h2 class="h5">Collaborative Workspace</h2>
                                                </a>
                                                <ul class="list-group mb-3">
                                                    <li class="list-group-item small p-0"><span
                                                            class="fas fa-medal text-tertiary mr-2"></span>Promoted until: 12 June</li>
                                                </ul>
                                                <div class="col d-flex pl-0"><span class="text-success font-small mr-3"><span
                                                            class="fas fa-check-circle mr-2"></span>Active</span> <span
                                                        class="text-muted font-small mr-3"><span class="fas fa-eye mr-2"></span>680</span>
                                                    <span class="text-muted font-small mr-3"><span
                                                            class="far fa-heart mr-2"></span>10</span> <a class="font-small text-dark"
                                                        href="./messages.html"><span class="fas fa-envelope mr-2"></span>8</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center mt-5">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="newProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau produit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body p-0">
                    <div class="col-12 col-lg-12 mt-4">
                        <form action="#" method="post" class="card border-light p-3 mb-3">
                            <div class="form-group"><label for="firstname">Title</label> <input type="text"
                                    placeholder="A nice little title" class="form-control" id="firstname" required=""></div>
                            <div class="form-group"><label for="location">Location</label> <input type="text"
                                    placeholder="26, Vancouver, BC, Canada - 324578" class="form-control" id="location" required=""></div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group"><label for="currency">Currency</label> <select class="custom-select"
                                            id="currency">
                                            <option value="USD">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="GBP">GBP</option>
                                            <option value="AUD">AUD</option>
                                            <option value="CNY">CNY</option>
                                            <option value="JPY">JPY</option>
                                        </select></div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group"><label for="price">Monthly price</label> <input type="number" placeholder="250"
                                            class="form-control text-gray" id="price" required=""></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group"><label for="term">Minimum term</label> <select class="custom-select" id="term">
                                            <option value="d">day</option>
                                            <option value="m">month</option>
                                            <option value="y" selected="selected">year</option>
                                        </select></div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group"><label for="term_amount">Amount</label> <input type="number" placeholder="1"
                                            class="form-control text-gray" id="term_amount" required=""></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group"><label for="sqfeet">Number input</label> <input type="number" placeholder="180"
                                            class="form-control text-gray" id="sqfeet" required=""></div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group"><label for="people">Dropdown example</label> <input type="number"
                                            placeholder="15" class="form-control text-gray" id="people" required=""></div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group"><label for="type">Another dropdown</label> <select class="custom-select"
                                            id="type">
                                            <option value="meeting" selected="selected">meeting</option>
                                            <option value="work">work</option>
                                            <option value="events">events</option>
                                        </select></div>
                                </div>
                            </div>
                            <div class="form-group focused"><label for="description">Description</label> <textarea rows="10"
                                    class="form-control text-gray" id="description" required="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus odio, ipsum sint animi sequi totam repellat quidem, placeat neque vel enim nisi. Quia dolor in earum labore, aperiam dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa porro consequuntur, laborum eligendi laboriosam itaque quis nobis, tempora at id in repellendus eius reiciendis error, enim fugit modi molestiae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia velit, deserunt animi, debitis eum laudantium facere adipisci minus ad quaerat ipsam consectetur, obcaecati non sit! Voluptas voluptatum autem modi dolorem?
                                                    </textarea></div>
                            <div class="row">
                                <div class="col"><button class="btn btn-primary btn-dark mt-2 animate-up-2" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                        <form action="#" method="post" class="card text-gray border-light p-4 mb-4">
                            <h2 class="h6">Featured image</h2>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="profile-image-small fmxw-100 mr-4"><img class="rounded"
                                        src="../../assets/img/account/office-1.jpg" alt="Office"></div>
                                <div class="custom-file"><input id="featured_image" type="file" class="custom-file-input"> <label
                                        class="custom-file-label" for="featured_image">Choose file</label></div>
                            </div><small class="text-gray font-weight-light font-xs d-block mt-2">Image should be at least 500 pixels wide
                                and only *.jpg, *.png and *.jpeg formats are accepted.</small>
                        </form>
                        <form action="#" method="post" class="card text-gray border-light p-4 mb-4">
                            <h2 class="h6">Gallery</h2>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="custom-file"><input id="gallery" type="file" class="custom-file-input" multiple="multiple">
                                    <label class="custom-file-label" for="gallery">Choose files</label></div>
                            </div><small class="text-gray font-weight-light font-xs d-block mt-2">Images should be at least 500 pixels wide
                                and only *.jpg, *.png and *.jpeg formats are accepted.</small>
                            <div class="d-flex flex-wrap mt-4">
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-1.jpg" alt="Office Conference"></div>
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-2.jpg" alt="Office Cowork"></div>
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-3.jpg" alt="Office Lifestyle"></div>
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-1.jpg" alt="Themesberg Office"></div>
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-2.jpg" alt="Office Meeting"></div>
                                <div class="profile-image-small fmxw-100 mr-3 mb-3"><img class="rounded"
                                        src="../../assets/img/account/office-3.jpg" alt="Office Private"></div>
                            </div>
                        </form>
                        <form action="#" method="post" class="card text-gray border-light p-4 mb-4">
                            <div class="form-group focused"><label for="video">Video url</label> <input type="text"
                                    value="https://vimeo.com/40842620" class="form-control text-gray" id="video" required=""></div>
                            <div class="row">
                                <div class="col"><button class="btn btn-primary btn-dark mt-2 animate-up-2 text-right"
                                        type="submit">Update</button></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    </main>

    <%- include('component/footer'); %>

    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/headroom.js/dist/headroom.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script
        src="https://demo.themesberg.com/bootstrap/spaces/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
    <script
        src="https://demo.themesberg.com/bootstrap/spaces/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script
        src="https://demo.themesberg.com/bootstrap/spaces/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script
        src="https://demo.themesberg.com/bootstrap/spaces/vendor/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/leaflet/dist/leaflet.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/chartist/dist/chartist.min.js"></script>
    <script
        src="https://demo.themesberg.com/bootstrap/spaces/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/vendor/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/assets/js/jquery.slideform.js"></script>
    <script src="https://demo.themesberg.com/bootstrap/spaces/assets/js/spaces.js"></script>
    <script>(function () { if (!document.body) return; var js = "window['__CF$cv$params']={r:'86a6aa97ecbb52e6',t:'MTcxMTQ1MTEzNC45NzgwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../../cdn-cgi/challenge-platform/h/g/scripts/jsd/dc6b543c1346/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"86a6aa97ecbb52e6","version":"2024.3.0","r":1,"token":"3a2c60bab7654724a0f7e5946db4ea5a","b":1}'
        crossorigin="anonymous"></script>
</body>

</html>