<header class="header-global">
    <nav id="navbar-main"
        class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 <%= classNav %>">
        <div class="container"><a class="navbar-brand @@logo_classes"
                href="/">
                 <img class="navbar-brand common mb-2"
                    src="/assets/images/logo_2.png" height="35"
                    alt="Logo dark"></a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand"><a
                                href="/"><img
                                    src="/assets/images/logo_2.png"
                                    height="35" alt="Logo Impact"></a></div>
                        <div class="col-6 collapse-close"><a href="#navbar_global" role="button"
                                class="fas fa-times" data-toggle="collapse" data-target="#navbar_global"
                                aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a></div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center">
                    <li class="nav-item">
                        <a href="/shop" id="shopDropdown" class="nav-link">
                            <span class="nav-link-inner-text mr-1">Boutiques</span>
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown"><a href="#" id="mainPagesDropdown"
                            class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="dropdown"><span
                                class="nav-link-inner-text mr-1">Pages</span> <i
                                class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-megamenu p-3 p-lg-4" aria-labelledby="mainPagesDropdown">
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Main pages</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/index.html">Landing</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/index-2.html">Landing
                                                2</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/index-3.html">Landing
                                                3</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/about.html">About</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/pricing.html">Pricing</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/team.html">Team</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/contact.html">Contact</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block text-primary">Legal</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/legal.html">Legal
                                                center</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/terms.html">Terms
                                                & agreement</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Listing</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="all-spaces.html">All spaces</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/all-spaces-map.html">Map
                                                view</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/all-spaces-sidebar.html">All
                                                spaces sidebar</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/single-space.html">Space
                                                details</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/profile.html">Profile</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Support</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/support.html">Support
                                                center</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/support-topic.html">Support
                                                topic</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Blog</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/blog.html">Blog</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/blog-post.html">Blog
                                                post</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">User</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/sign-in.html">Sign
                                                in</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/sign-up.html">Sign
                                                up</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/forgot-password.html">Forgot
                                                password</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/reset-password.html">Reset
                                                password</a></li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Special</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/404.html">404
                                                Not Found</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/500.html">500
                                                Server Error</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/maintenance.html">Maintenance</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/coming-soon.html">Coming
                                                soon</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/blank.html">Blank
                                                page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a href="#" id="dashboardPagesDropdown"
                            class="nav-link dropdown-toggle" aria-expanded="false" data-toggle="dropdown"><span
                                class="nav-link-inner-text mr-1">Tableau de bord</span> <i
                                class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-megamenu-sm p-3 p-lg-4"
                            aria-labelledby="dashboardPagesDropdown">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="d-block mb-3 text-primary">User dashboard</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/account.html">My
                                                account</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/settings.html">Settings</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/security.html">Security</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Items</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/my-items.html">My
                                                items</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/edit-item.html">Edit
                                                item</a></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h6 class="d-block mb-3 text-primary">Messaging</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/messages.html">Messages</a>
                                        </li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/single-message.html">Chat</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Billing</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/billing.html">Billing
                                                details</a></li>
                                        <li class="mb-2 megamenu-item"><a class="megamenu-link"
                                                href="https://demo.themesberg.com/bootstrap/spaces/html/dashboard/invoice.html">Invoice</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a href="#" id="supportDropdown" class="nav-link dropdown-toggle"
                            aria-expanded="false" data-toggle="dropdown"><span
                                class="nav-link-inner-text mr-1">Support</span> <i
                                class="fas fa-angle-down nav-link-arrow"></i></a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                            <div class="col-auto px-0">
                                <div class="list-group list-group-flush"><a
                                        href="https://themesberg.com/docs/spaces/getting-started/quick-start/"
                                        target="_blank"
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"><span
                                            class="icon icon-md icon-secondary"><i
                                                class="fas fa-file-alt"></i></span>
                                        <div class="ml-4"><span class="text-dark d-block">Documentation<span
                                                    class="badge badge-sm badge-secondary ml-2">v3.0</span></span>
                                            <span class="small">Examples and guides</span></div>
                                    </a><a href="https://themesberg.com/contact" target="_blank"
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"><span
                                            class="icon icon-md icon-primary"><i
                                                class="fas fa-microphone-alt"></i></span>
                                        <div class="ml-4"><span class="text-dark d-block">Support</span> <span
                                                class="small">Looking for answers?</span></div>
                                    </a>
                                    <a href="/page/pricing" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-md icon-primary"><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                                    <div class="ml-4">
                                        <span class="text-dark d-block">Abonnement</span> 
                                        <span class="small">Mettre à jour votre plan ici.</span>
                                </div>
                                </a>
                                <a href="/page/faq" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-md icon-primary"><i class="fa-solid fa-circle-question"></i></span>
                                    <div class="ml-4">
                                        <span class="text-dark d-block">F.A.Q</span> 
                                        <span class="small">Questions fréquentes ici.</span>
                                </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-none d-lg-block dropdown">

                
                <a href="/wishlist" title="Mes favoris"
                    class="btn btn-sm btn-outline-danger animate-up-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg></a>

                <a href="/cart" title="Mon panier"
                    class="btn btn-sm btn-outline-danger animate-up-2"><i class="fa-solid fa-cart-shopping mr-1"></i></a>

                <% if(is_connected) { %>
                    
                    <a href="/sign-in" title="Mon compte" class="btn btn-sm btn-outline-white animate-up-2 mr-3 dropdown-toggle" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <span class="d-xl-none"></span> <span class="d-none d-xl-inline"></span></a> 

                    <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                        <div class="col-auto px-0">
                            <div class="list-group list-group-flush"><a
                                    href="/my-account" 
                                    class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"><span
                                        class="icon icon-md icon-secondary"><i class="fa-solid fa-user-lock"></i> </span>
                                    <div class="ml-4"><span class="text-dark d-block">Profil<span
                                                class="badge badge-sm badge-secondary ml-2">v3.0</span></span>
                                        <span class="small">Vous pouvez changer votre profil</span></div>
                                </a><a href="/logout"
                                    class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"><span
                                        class="icon icon-md icon-primary"><i class="fa-solid fa-power-off"></i></span>
                                    <div class="ml-4"><span class="text-dark d-block">Se déconnecter</span> 
                                        <!-- <span class="small">Se déconnecter?</span> -->
                                    </div>
                                </a></div>
                        </div>
                    </div>
                    
                <%}else{ %>
                    <a href="/sign-in" title="Se connecter" class="btn btn-sm btn-outline-white animate-up-2 mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <span
                        class="d-xl-none"></span> <span class="d-none d-xl-inline"></span></a> 
                <%}%>
                <!-- <a href="/sign-in" class="btn btn-md btn-outline-white animate-up-2 mr-3"><i class="fa-solid fa-right-to-bracket"></i> <span
                        class="d-xl-none">Docs</span> <span class="d-none d-xl-inline"> <%= is_connected?"Mon compte":"Se connecter" %> Se connecter</span></a>  -->
                
            </div>
            <div class="d-flex d-lg-none align-items-center"><button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button></div>
        </div>
    </nav>
</header>